<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">School-Machine Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/district/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Districts</a></li>
            <li><a [routerLink]="['/school/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Schools</a></li>
            <li><a [routerLink]="['/student/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Students</a></li>
            <li><a [routerLink]="['/upload']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Upload</a></li>
        </ul>
    </div>
</nav>